/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Page */

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f7f9fc;

}

/* Header */

header{

    background:white;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}

/* Navigation */

.navbar{

    width:90%;

    max-width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 0;

}

/* Name */

.logo{

    font-size:24px;

    font-weight:bold;

    color:#0A3D62;

}

/* Menu */

.nav-links{

    list-style:none;

    display:flex;

    gap:30px;

}

/* Links */

.nav-links a{

    text-decoration:none;

    color:#333;

    font-weight:600;

}

/* Hover */

.nav-links a:hover{

    color:#1E88E5;

}
